
body {
    padding: 0%;
    margin: 0;
}

.fontGotu{
    font-family: 'Gotu', sans-serif;
}

.fontLibre{
    font-family: 'Viaoda Libre', sans-serif;
}
.home{
    display: flex;
    align-items: center;
}

.menu{
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.txMenu{
    margin-top: 0;
    padding: 0%;
}

a{
    text-decoration: none;
}

.opMenu{
    color: rgb(3, 14, 24);
    font-size: 15pt;
    cursor: pointer;
}

.fundo{
    width: 100%;
    height: auto;
    max-height: 40%;
    margin: 0;
    position: absolute;
    top:auto;
    bottom: 0;
    z-index: -10;
}

.top{
    width: 80%;
    height: auto;
    max-height: 50%;
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    z-index: -10;
    top: 0;
    bottom: auto;
    right: auto;
    left: auto;
}
.instruções{
    padding-left: 2em;
    padding-right: 2em;
}

.instruções h3{
    cursor: pointer;
}

.texto{
    margin-bottom: 1em;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    display: none;
}

.texto img{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
/***************************************************************************************************/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.point{
    display: none;
}
.resultado{
    width: auto;
    height: auto;
    background-color: #ff8282;
    
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 2.5em;
    margin-bottom: 1em;
    padding-top: .3em;
    padding-bottom: .3em;
    padding-left: 1.3em;
    padding-right: .5em;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    display: none;
    
}

.desafio{
    width: 100%;
    height: auto;
    overflow: auto;
    padding-left: .3em;
}

.dica{
    cursor: pointer;
}

/************************************FASE 1***************************************************************/
.content1{
    width: 100%;
    height: 80%;
    position: relative;
}

.content1 img{
    cursor: pointer;
    margin-top: 1em;
    width: 100%;
    height: auto;
}

.posiciona{
    position: absolute;
    bottom: 68%;
    left: 87%;
}

.porta{
    position: absolute;
    opacity: 0;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 7% 5%;
    border: none;
    cursor: pointer;
    border-radius: 5px;  
}
/************************************FASE 2***************************************************************/
.btn{
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 2%;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    margin-top: .5em; 
}
/************************************FASE 4***************************************************************/
.pergunta{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

.pergunta button{
    margin-top: .5em;
}
/************************************FASE 5***************************************************************/
.loginContainer{
    display:inline-block;
    text-align: right;
}

.pergunta5
{
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
}
.pergunta5 label{
    font-family: 'Gotu', sans-serif;
    font-size: 12pt;
}

.pergunta5 input{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 1em;
}
.pergunta5 button{
    margin-top: .5em;
}
/************************************FASE 6***************************************************************/
.intrucoes, .resposta{
    background-color: white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding: .5em;

    font-family: 'Gotu', sans-serif;
    font-size: 12pt;
}

.meio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.esquerdo{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

#mydiv {
    font-family: 'Gotu', sans-serif;
    font-size: 12pt;
    position: absolute;
    top: 110px;
    left: 10px;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}
  
#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: gray;
    color: #fff;
}

.destino{
    font-family: 'Gotu', sans-serif;
    font-size: 12pt;
    background-color: white;
    padding: .5em;
    width: auto;
    height: auto;
    position: absolute;
    top:100px;
    right: 10px;
}

/***************************************************************************************************/

.container{
    position: absolute;
    width: 80%;
    height: auto;
    bottom: 0;
    right: 0;
}

.mapaBk{
    background-color: #263238;
    position: relative;
    width: 100%;
    height: 80%;
}

.mapa{
    width: 100%;
    height: auto;
}

.fase{
    position: absolute;
    opacity: 0;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 2%;
    border: none;
    cursor: pointer;
    border-radius: 5px;  
}

.faseP{
    opacity: 0;
    position: absolute;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 1%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.fasePp{
    opacity: 0;
    position: absolute;
    background-color: #555;
    color: white;
    font-size: 13px;
    padding: 0%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.pos1{
    bottom: 3.5%;
    top: auto;
    left: 31%;
    right: auto;
}

.pos2{
    bottom: 4%;
    top: auto;
    left: 52%;
    right: auto;
}

.pos3{
    bottom: 12%;
    top: auto;
    left: auto;
    right: 26%;
}

.pos4{
    bottom: 25%;
    top: auto;
    left: 55%;
    right: auto;
}

.pos5{
    bottom: 39%;
    top: auto;
    left: auto;
    right: 19%;
}

.pos6{
    bottom: 45%;
    top: auto;
    left: auto;
    right: 32%;
}

.pos7{
    bottom: 57%;
    top: auto;
    left: auto;
    right: 16%;
}

.pos8{
    bottom: 58%;
    top: auto;
    left: auto;
    right: 5%;
}

.pos9{
    bottom: 68%;
    top: auto;
    left: auto;
    right: 8.5%;
}

.pos10{
    bottom: 70%;
    top: auto;
    left: auto;
    right: 2%;
}

@media screen and (min-width: 920px){
    .container{
        width: 70%;
        height: auto;   
    }

}

@media screen and (min-width: 1067px){
    .container{
        max-width: 747px;   
    }

    .top{
        max-width: 854px;
    }

}